/target
/Cargo.lock
/tutorial/.ipynb_checkpoints
/bamboo_h3/*.mod.py
*.dll
*.o
*.prof
*.pyc
__pycache__
*.so
*.swo
*.swp
*.tmp
*.tmp.py
venv
*.zip
*.whl
*.gz
.pytest_cache
/bamboo_h3/.benchmarks/
.benchmarks
/clickhouse_arrow_grpc/src/api.rs
